<section class="p-r-32 p-l-32 p-b-160">
  <div class="prose mw-800 m-t-48">
    <!-- <h3 class="dust m-b-32"> -->
      <!-- Selected Work -->
    <!-- </h3> -->
    <ol>
      {{#each copy.work}}
        <li class="m-b-12 p-t-12 p-b-12 project" id="{{id}}">
					{{#if censored}}
						<div class="sam-flex sam-flex__wrap sam-flex__align--center sam-flex__justify--space-between censored-project" data-id="{{id}}">
					{{else}}
          	<div class="sam-flex sam-flex__wrap sam-flex__align--center sam-flex__justify--space-between project-title">
					{{/if}}
						<div class="project-title-left">
            	<h2 class="p-b-12" style="color: {{colour}}">
              	{{{project}}}
            	</h2>
							{{#if censored}}
								<div class="pass-container">
									<input type="text" id="{{id}}" placeholder="Super Secret Password?"/>
								</div>
							{{/if}}
						</div>
            <div class="sam-flex p-b-12 sam-flex__align--center project-meta">
              {{#if tags}}
                {{#each tags}}
                  <h6 class="m-r-4 frost">
                    {{{text}}}
                  </h6>
                {{/each}}
              {{/if}}
              <!-- {{#if date}}
                <h6 class="frost m-r-4"><strong>&nbsp;/&nbsp;</strong></h6>
                <h6 class="frost m-r-4">{{date}}</h6>
              {{/if}} -->
              {{#if awards}}
                {{#each awards}}
                  <i class="fal fa-star fa-xs m-r-4 frost" style="color: {{colour}}"></i>
                {{/each}}
              {{/if}}
            </div>
          </div>
          <div class="inner-wrapper {{class}}">
            <div class="inner">
              {{#if cover}}
                <div class="cover p-t-16">
                  <a href="{{links.[0].link}}" title="{{links.[0].link-title}}">
                    <img src="/assets/img/cover/{{cover}}" alt="alt" />
                  </a>
                </div>
                <div class="sam-flex sam-flex__wrap sam-flex__justify--space-between">
                  <div class="description">
                    {{#each description}}
                      <p>
                        {{{value}}}
                      </p>
                    {{/each}}
                  </div>
                  <div class="details p-t-16 p-b-16">
                    <div class="details-inner">
                      {{#if date}}
                        <div class="sam-flex sam-flex__align--center entry m-b-12">
                          <h6>
                            {{{date}}}
                          </h6>
                        </div>
                      {{/if}}
                      {{#if tags}}
                        <div class="m-b-12 tags">
                          {{#each tags}}
                            <div class="sam-flex sam-flex__align--center entry m-b-4">
                              {{#if icon}}
                                <i class="{{icon}} fa-xs m-r-8"></i>
                              {{/if}}
                              <h6>
                                {{{text}}}
                              </h6>
                            </div>
                          {{/each}}
                        </div>
                      {{/if}}
                      {{#if role}}
                        <div class="sam-flex sam-flex__align--center entry m-b-12">
                          <i class="fal fa-megaphone m-r-8 fa-xs"></i>
                          <h6>
                            {{{role}}}
                          </h6>
                        </div>
                      {{/if}}
                      {{#if partners}}
                        <div class="m-b-12">
                          {{#each partners}}
                            <div class="sam-flex sam-flex__align--center entry m-b-4">
                              <h6>
                                {{{name}}}
																{{#if role}}
																	<span class="frost">
																		({{{role}}})
																	</span>
																{{/if}}
                              </h6>
                            </div>
                          {{/each}}
                        </div>
                      {{/if}}
                      {{#if awards}}
                        <div class="m-b-12">
                          {{#each awards}}
                            <div class="sam-flex sam-flex__align--center entry m-b-4">
                              <i class="fal fa-star fa-xs m-r-8" style="color: {{colour}}"></i>
                              <div class="sam-flex sam-flex--column">
                                <h6>
                                  {{{text}}}
                                </h6>
                                <h6 class="frost">
                                  {{{follow-up}}}
                                </h6>
                              </div>
                            </div>
                          {{/each}}
                        </div>
                      {{/if}}
                      {{#if links}}
												<div class="m-b-12 links">
													{{#each links}}
		                        <div class="sam-flex sam-flex__align--center entry link">
		                          <a class="m-r-4" href="{{link}}" title="See Project">
		                            <h6 class="all-caps">
		                              {{{link-title}}}
		                            </h6>
		                          </a>
		                          <i class="fal fa-long-arrow-right"></i>
		                        </div>
													{{/each}}
												</div>
                      {{/if}}
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="sam-flex sam-flex__wrap sam-flex__justify--space-between">
                  <div class="split half m-b-16 p-t-8 p-b-8">
										<div class="split-inner">
											<a href="{{links.[0].link}}" title="{{links.[0].link-title}}">
                    		<div class="image" style="background-image: url(/assets/img/cover/{{image}})"></div>
											</a>
										</div>
                  </div>
                  <div class="split half m-b-16 p-t-8 p-b-8">
                    <div class="split-inner">
											{{#each description}}
	                      <p>
	                        {{{value}}}
	                      </p>
	                    {{/each}}
                    </div>
                  </div>
                  <div class="split full p-t-8 p-b-8">
                    <div class="split-inner">
                      <div class="sam-flex sam-flex__wrap sam-flex__align--start sam-flex__justify--space-between">
												{{#if date}}
	                        <div class="sam-flex sam-flex__align--center entry m-r-12">
	                          <h6>
	                            {{{date}}}
	                          </h6>
	                        </div>
	                      {{/if}}
	                      {{#if tags}}
	                        <div class="m-r-12 tags">
	                          {{#each tags}}
	                            <div class="sam-flex sam-flex__align--center entry m-b-4">
	                              {{#if icon}}
	                                <i class="{{icon}} fa-xs m-r-8"></i>
	                              {{/if}}
	                              <h6>
	                                {{{text}}}
	                              </h6>
	                            </div>
	                          {{/each}}
	                        </div>
	                      {{/if}}
	                      {{#if role}}
	                        <div class="sam-flex sam-flex__align--center entry m-r-12">
	                          <i class="fal fa-megaphone m-r-8 fa-xs"></i>
	                          <h6>
	                            {{{role}}}
	                          </h6>
	                        </div>
	                      {{/if}}
	                      {{#if partners}}
	                        <div class="m-r-12">
	                          {{#each partners}}
	                            <div class="sam-flex sam-flex__align--center entry m-b-4">
	                              <h6>
	                                {{{name}}}
																	{{#if role}}
		                                <span class="frost">
		                                  ({{{role}}})
		                                </span>
																	{{/if}}
	                              </h6>
	                            </div>
	                          {{/each}}
	                        </div>
	                      {{/if}}
	                      {{#if awards}}
	                        <div class="m-r-12">
	                          {{#each awards}}
	                            <div class="sam-flex sam-flex__align--center entry m-b-4">
	                              <i class="fal fa-star fa-xs m-r-8" style="color: {{colour}}"></i>
	                              <div class="sam-flex sam-flex--column">
	                                <h6>
	                                  {{{text}}}
	                                </h6>
	                                <h6 class="frost">
	                                  {{{follow-up}}}
	                                </h6>
	                              </div>
	                            </div>
	                          {{/each}}
	                        </div>
	                      {{/if}}
												{{#if links}}
													<div class="sam-flex sam-flex--column links">
														{{#each links}}
			                        <div class="sam-flex sam-flex__align--center entry link">
			                          <a class="m-r-4" href="{{link}}" title="See Project">
			                            <h6 class="all-caps">
			                              {{{link-title}}}
			                            </h6>
			                          </a>
			                          <i class="fal fa-long-arrow-right m-r-4"></i>
			                        </div>
														{{/each}}
													</div>
	                      {{/if}}
											</div>
                    </div>
                  </div>
                </div>
              {{/if}}
							{{#if case-study}}
								<div class="sam-flex sam-flex__wrap sam-flex__justify--space-between case-study border--top border__frost p-t-32">
									{{#each case-study}}
										<div class="split {{size}} m-b-16 p-t-8 p-b-8">
											<div class="split-inner {{class}}">
                        {{#if image}}
                          <div class="image {{options}}" style="min-height: {{height}}px">
                            <img src="/assets/img/{{image}}" alt={{alt}} />
                          </div>
                        {{/if}}
												<!-- {{#if image}}
	                    		<div class="image h-{{image-size}}" style="background-image: url(/assets/img/{{image}})"></div>
												{{/if}} -->
												{{#if text}}
													{{#each text}}
														<p>{{{value}}}</p>
													{{/each}}
												{{/if}}
											</div>
	                  </div>
									{{/each}}
								</div>
							{{/if}}
            </div>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</section>
