<section class="p-r-32 p-l-32 p-b-160">
<div class="prose mw-800 m-t-96">
	<h3 class="dust m-b-32">Selected Work</h3>
	<ol>
		{{#each copy.work}}
			<li class="sam-flex sam-flex--column m-b-24 project">
				<h2 class="p-b-24" style="color: {{colour}}">{{{project}}}</h2>

				<div class="inner-wrapper">
					<div class="inner">
						{{#if cover}}
							<div class="cover p-t-16">
								<a href="{{link}}" title="{{link-title}}"><img src="/assets/img/cover/{{cover}}" alt="alt" /></a>
							</div>

							<div class="sam-flex sam-flex__wrap sam-flex__justify--space-between">
								<div class="description">
									{{#each description}}
										<p>
											{{{value}}}
										</p>
									{{/each}}
								</div>
								<div class="details p-t-8 p-b-8">
									{{#if date}}
										<div class="sam-flex sam-flex__align--center entry p-t-8 p-b-8">
											<h6>{{{date}}}</h6>
										</div>
									{{/if}}
									{{#if tag}}
										<div class="sam-flex sam-flex__align--center entry p-t-8 p-b-8">
											<h6>{{{tag}}}</h6>
										</div>
									{{/if}}
									{{#if partner}}
										<div class="sam-flex sam-flex__align--center entry p-t-8 p-b-8">
											<h6>w/&nbsp;</h6><h6>{{{partner}}}</h6>
										</div>
									{{/if}}
									{{#if award}}
										<div class="sam-flex sam-flex__align--center entry p-t-8 p-b-8">
											<i class="fas fa-star m-r-4" style="color: {{colour}}"></i><h6>{{{award}}}</h6>
										</div>
									{{/if}}
									{{#if link}}
										<div class="sam-flex sam-flex__align--center entry link p-t-8 p-b-8">
											<a class="m-r-4" href="{{link}}" title="See Project"><h6 class="all-caps">{{{link-title}}}</h6></a>
											<i class="fal fa-long-arrow-right"></i>
										</div>
									{{/if}}
								</div>
							</div>
							{{else}}
							
							{{/if}}
					</div>
				</div>
			</li>
		{{/each}}
	</ol>
</div>
</section>
